$demo5: #c59d5f;

.demo5 {
    background-color: #f1f5f8;
    padding: 100px 0;

    .container {
        max-width: 1170px;
        margin: 0 auto;
    }

    h2:after {
        background-color: $demo5;
    }

    .list-categories {
        margin-bottom: 4rem;
    }

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            font-size: 1rem;
            text-transform: capitalize;
            margin: 0 0.5rem;
            letter-spacing: 1px;
            padding: 0.375rem 0.75rem;
            color: $demo5;
            cursor: pointer;
            transition: all .3s linear;
        }
    }

    .list-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 48%;
            display: flex;
            margin-bottom: 2rem;

            .item__img {
                width: 225px;
                height: 150px;
                margin-right: 20px;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border: 0.25rem solid #c59d5f;
                    border-radius: 0.25rem;
                    display: block;
                }
            }

            .item__info {
                flex: 1;
            }

            .item__title-price {
                display: flex;
                justify-content: space-between;
                border-bottom: 0.5px dotted #617d98;

                h4 {
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                }

                .item__price {
                    color: #c59d5f;
                }
            }

            .item__text {
                color: #617d98;
                margin-bottom: 0;
                padding-top: 1rem;
            }
        }
    }
}