$demo2: #49a6e9;
$white: #fff;
$btnColor: #bb2525;

.demo2 {
	background-color: #f1f5f8;
	padding: 100px 0;
	.container {
		max-width: 1024px;
		margin: 0 auto;
		padding: 0 50px;
	}
	.list-tours {
		display: flex;
		flex-wrap: wrap;
		// margin: 0 -25px;
		justify-content: space-between;
	}
	.tour {
		width: 48%;
		background-color: $white;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
		border-radius: .25rem;
		margin-bottom: 2rem;
	
		.tour__image {
			img {
				height: 18rem;
				width: 100%;
				object-fit: cover;
				border-top-left-radius: .25rem;
				border-top-right-radius: .25rem;
			}
		}
	
		.tour__content {
			padding: 1.5rem 2rem;
	
			.tour__title-price {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1.5rem;
				letter-spacing: .1rem;
	
				.tour__title {
					font-size: 1rem;
					margin: 0;
					text-transform: capitalize;
				}
	
				.tour__price {
					background-color: #ebf7ff;
					padding: .25rem .5rem;
					border-radius: .25rem;
					color: $demo2;
					line-height: 1;
					font-size: 1rem;
					font-weight: bold;
				}
			}
	
			.tour__description {
				font-size: 1rem;
				color: #617d98;
				margin-bottom: 1.25rem;
	
				.read-more {
					cursor: pointer;
					color: $demo2;
					text-transform: capitalize;
				}
			}
	
			.btn {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $btnColor;
				width: 200px;
				margin: 0 auto;
				border: 1px solid $btnColor;
				border-radius: .25rem;
				background-color: transparent;
				font-size: 1rem;
				letter-spacing: .1rem;
				padding: .25rem .5rem;
				cursor: pointer;
				transition: all .1s;
	
				&:hover {
					background-color: $btnColor;
					color: $white;
				}
			}
		}
	}
	
	.no-tour {
		max-width: 620px;
		margin: 0 auto;
		background-color: $white;
		box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
		padding: 1.5rem 2rem;
		text-align: center;
	
		h2 {
			font-size: 3.2rem;
			color: $demo2;
			margin: 0 0 1.5rem;
		}
	
		.btn {
			display: flex;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			width: 200px;
			padding: .755rem 1rem;
			border-radius: .25rem;
			background-color: $white;
			box-shadow: none;
			border: 0;
			font-size: 1rem;
			letter-spacing: .1rem;
			color: $demo2;
			transition: all .1s;
			border: 1px solid $demo2;
			cursor: pointer;
	
			&:hover {
				background-color: $demo2;
				color: $white;
				border-color: $demo2;
			}
		}
	}
	
	.loading {
		h1 {
			margin: 0 auto;
			text-align: center;
		}
	}
}
